language: ruby
cache:
  apt: true
  bundler: true
  directories:
    - vendor/bundle
    - vendor/gemlocal_aware_bundle
    - workspace/redmine/vendor/bundle
rvm:
  - 2.1
env:
  - REDMINE_VERSION=3.0.1 VERBOSE=no DB=mysql

script:
  - PLUGIN_DIR=$(pwd)
  - export PLUGIN=redmine_imperator
  - export WORKSPACE=$(pwd)/workspace
  - export PATH_TO_PLUGIN=$(pwd)
  - export PATH_TO_REDMINE=$WORKSPACE/redmine
  - export BUNDLE_PATH=$(pwd)/vendor/bundle
  - mkdir -p $WORKSPACE
  - bash -x ./.travis-init.sh -r || exit 1
  - bash -x ./.travis-init.sh -i || exit 1
  - bash -x ./.travis-init.sh -t || exit 1
  - bash -x ./.travis-init.sh -u || exit 1
  - cd $PLUGIN_DIR
  - . bundler-gemlocal.sh
  - cp Gemlocal.example Gemlocal
  - cp config/database.yml.example config/database.yml
  - gemlocal_aware_bundle install --path vendor/gemlocal_aware_bundle
  - gemlocal_aware_bundle exec rake test
before_script:
  - mysql -e 'create database redmine_imperator_test;'
