<div class="warning">
  <%= t('redmine_imperator.use_to_edit_user_groups') %>
  <%= link_to(t('redmine_imperator.imperator_genitive'),
              "#{Setting.plugin_redmine_imperator['base_url']}/users",
              target: '_blank') %>
</div>
