<p>
  <label for="redmine_imperator_host">Imperator base url</label>
  <%= text_field_tag 'settings[base_url]',
                     @settings['base_url'] %>
</p>
<p>
  <label for="redmine_imperator_redirections">Redirection rules</label>
  <%= text_area_tag 'settings[redirections]',
  @settings['redirections'], rows: 50 %>
</p>
